# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
小程序开发证书密钥/
uni-app/node_modules

admin/node_modules
web/node_modules


# Executables
*.swf
*.air
*.ipa
*.apk
niucloud/.env

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
